<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Listings</title>
    <link rel="stylesheet" href="css/listings.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/index" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            Cappumerce
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/index" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/active_listings" class="nav-link px-2 link-dark">Active Listings</a></li>
            <li><a href="/category_listings" class="nav-link px-2 link-secondary">Categories</a></li>
            <li><a href="/watchlist" class="nav-link px-2 link-secondary">Watchlist</a></li>
            <li><a href="/create_listing" class="nav-link px-2 link-secondary">Create Listing</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" onclick="window.location.href=`logout`;" class="btn btn-outline-primary me-2">Logout</button>
            <div style="display:inline;">Logged in as <%=locals.username%></div>
          </div>
        </header>
    </div>
    
    <div class="album py-5 bg-light">
        <% if (locals.listings.length == 0){%>
            <h1 class="text-center">There are currently no active listings.</h1>
        <% } else {%>
        <div class="container">
             <% for (let i = 0; i < Math.ceil(locals.listings.length / 3); i++){%>
                <div class="row">
                    <% for (let j = 0; j < 3 && j < locals.listings.length - 3 * i; j++){%>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <% if (locals.listings[3 * i + j].link == "") {%>
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_187194b676b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_187194b676b%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.20000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                                <% } else {%>
                                    <img class="card-img-top" data-src="<%= locals.listings[3 * i + j].link%>" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= locals.listings[3 * i + j].link%>" data-holder-rendered="true">
                                <% } %>
                              <div class="card-body">
                                <div class="title"><%=locals.listings[3 * i + j].title%></div>
                                <div class="bid">Current bid: $<%=(Math.round(locals.listings[3 * i + j].bid * 100) / 100).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></div>
                                <% if (locals.listings[3 * i + j].description.length > 300) {%>
                                    <p class="card-text"><%=locals.listings[3 * i + j].description.substring(0, 300) + "..."%></p>
                                <% } else {%>
                                 <p class="card-text"><%=locals.listings[3 * i + j].description%></p>
                                <% }%>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button onclick="window.location.href=`/listings/<%=locals.listings[3 * i + j].id%>`"type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <% if (locals.listings[3 * i + j].creator == locals.username) { %>
                                      <button type="button" onclick="window.location.href=`/editlistings/<%=locals.listings[3 * i + j].id%>`" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <% } %>
                                  </div>
                                  <small class="text-muted">Created on <%=locals.listings[3 * i + j].dateOfCreation%></small>
                                </div>
                              </div>
                            </div>
                          </div> 
                    <% } %>
                </div>
            <% }%>
            <% } %>
        </div>
</body>
</html>